body {
    font-family: "Nunito Sans", sans-serif;
    color: darkslategray;
}

header {
    background-color: dodgerblue;
    color: whitesmoke;
    padding: 30px;
    text-align: center;
}

h1, h2, h3 {
    font-weight: bolder;
    margin-bottom: 25px;
}

h4 {
    margin-bottom: 25px;
}

hr {
    border: 2px solid #edf2f8;
    margin: 50px 0;
}

p {
    font-size: .9em;
    line-height: 1em;
}

section {
    
}

#jumboTitle {
    font-size: 3em;
    font-weight: bold;
    text-shadow: -1px -1px 2px #888273;
    margin: 0;
}

.ex-fcast-block {
    display: inline-block;
    border: 3px solid #2091ff4d;
    border-radius: 8px;
    margin: auto;
    padding: 10px;
    background-color: #f0fcff;
    min-width: 19.2%;
    min-height: 120px;
}

#uiControl, #uiDisplay {
    padding: 3%;
}

#uiControl {
    height: 100vh;
    background-color: whitesmoke;
}

#uiControl input {
    /* max-width: 300px; */
    margin-left: auto;
}

#uiDisplay {
    
}

#uiDisplay span {
    color: dodgerblue;
    font-weight: bold;
    margin-left: 10px;
}

#cityHeading {

}

#searchBtn {

}

#mylocationBtn {

}
.quick-search {
    width: 100%;
    margin-bottom: 10px;
}

.big-icon {
    margin-bottom: 20px;
    font-size: 3em;
    color: goldenrod;
}

.btn-outline-primary {
    color: cornflowerblue;
    border-color: cornflowerblue;
}

@media only screen and (max-width: 767px) {
    #uiControl, #uiDisplay {
        padding: 15px;
    }
    #uiControl {
        height: auto;
        padding-top: 30px;
    }
    #uiControl input {
        max-width: 100vw;
        margin: 0;
    }
    #uiDisplay {
        padding-top: 40px;
    }
    .ex-fcast-block {
        margin: 10px 0;
    }
} 